<input type="hidden" id="fontSize" value="<%=config.fontSize%>">
<div class="card">
  <div class="card-header text-center"><h3>Detalhes do Pedido</h3></div>
  <div class="card-body card-block">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Pedido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Ítems</a>
      </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div class="tab-pane container active" id="home">

        <div class="card">

          <div class="card-header">
            <div class="text-center">
              <h4>Código do Pedido: <%=order.id%></h4>
            </div>
          </div>

          <div class="card-body">
            <!-- <p>Informações Principais</p> -->
            <table class="table table-bordered table-hover">
              <tr>
                <td>Data/Hora do Pedido</td>
                <td><%=order._datetime.toLocaleString('br')%></td>
              </tr>
              <tr>
                <td>Status do Pedido</td>
                <td>
                  <% if(order.status == 0) { %>
                  <div class="no-fulfilled">Em Andamento</div>
                  <% } else { %>
                    <div class="fulfilled">Encerrado</div>
                  <% } %>
                </td>
              </tr>
            </table>
            <!-- <p>Informações de Entrega</p> -->
            <hr>
            <table class="table table-bordered table-hover" id="deliveryAddres">  
              <tr>
                <td>Cod. Pedido</td>
                <td id="orderId"><%=order.id%></td>
              </tr>
              <tr>
                <td>Cliente</td>
                <td id="clientName"><%=client.name%></td>
              </tr>    
              <%if(order.money == '0.0') { %>
              <tr>
                <td>Cartão</td>
                <td id="creditCard"><%=order.creditcard%></td>
              </tr>
              <% } else { %>
              <tr>
                <td>Dinheiro</td>
                <td id="money">R$ <%=order.money.toFixed(2).toString().replace('.', ',')%></td>
              </tr>
              <% } %>
              <tr>
                <td>Total</td>
                <td id="total">R$ <%=order.total.toFixed(2).toString().replace('.', ',')%></td>
              </tr>
              <%if(order.money != '0.0') { %>
              <tr>
                <td>Troco</td>
                <td id="rest">R$ <%=(order.money - order.total).toFixed(2).toString().replace('.', ',')%></td>
              </tr>
              <% } %>
              <tr>
                <td>Logradouro</td>
                <td id="publicPlace"><%=order.street%></td>
              </tr>
              <tr>
                <td>Número</td>
                <td id="_number"><%=order._number%></td>
              </tr>
              <tr>
                <td>Bairro</td>
                <td id="neighborhood"><%=order.neighborhood%></td>
              </tr>             
            </table>

          </div>

          <div class="card-footer">
            <div class="row">
              <% if(order.status == 0) { %>
              <div class="col-sm-3 d-none d-md-block">
                <button class="form-control btn btn-info"
                onclick="Helper.printData('deliveryAddres', 'Endereço de Entrega');">
                  Imprimir Para Entregador</button>
              </div>
              <% if(order.sendedToDelivery==0) { %>
              <div class="col-sm-3">
                <button class="form-control btn btn-info"
                onclick="Deliveryman.sendToDeliveryman('<%=order.id%>');">
                  Enviar Para Entregador</button>
              </div>
              <% } else { %>
                <div class="col-sm-3">
                  <button class="form-control btn btn-primary"
                  onclick="Deliveryman.reviewDelivery('<%=order.id%>');"
                  title="Você pode cancelar ou trocar de entregador">
                    Revisar Entrega</button>
                </div>
              <% } %>
              <div class="col-sm-3">
                <button class="form-control btn btn-warning"
                title="Marcar como encerrado"
                onclick="Order.markAsFuldilled('<%=order.id%>');">
                  Encerrar</button>
              </div>
              <% } %>
            </div>
          </div>

        </div>

      </div> <!--End Tab-->

      <div class="tab-pane container fade" id="menu1">

        <div class="card">

          <div class="card-header">
            <div class="text-center">
              <h4>Código do Cliente: <%=client.id%></h4>
            </div>
          </div>

          <div class="card-body">

            <table class="table table-bordered table-hover">
              <tr>
                <td>Nome</td>
                <td><%=client.name%></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><%=client.email%></td>
              </tr>
              <tr>
                <td>Telefone</td>
                <td>
                  <%=client.phone%>
                </td>
              </tr>
              <tr>
                <td>Rua</td>
                <td><%=client.street%></td>
              </tr>
              <tr>
                <td>Número</td>
                <td><%=client._number%></td>
              </tr>
              <tr>
                <td>Bairro</td>
                <td><%=client.neighborhood%></td>
              </tr>
              <tr>
                <td>Complemento</td>
                <td><%=client.complement%></td>
              </tr>

            </table>

          </div>

          <div class="card-footer">
            <div class="row">
              <!-- <div class="col-sm-3">
                <button class="form-control btn btn-info">
                  Imprimir</button>
              </div> -->
              <div class="col-sm-3">
                <button class="form-control btn btn-wapp-color"
                  title="Mensagem Via WhatsApp"
                  onclick="return document.location.href='/send-wapp-message?clientName=<%=client.name%>&clientPhone=<%=client.phone%>'">
                   Mensagem
                </button>
              </div>
            </div>


          </div>
        </div>

      </div> <!--End Tab-->

      <div class="tab-pane container fade" id="menu2">

        <div class="card">

          <div class="card-header">
            <div class="text-center">
              <h4>Ítens do Pedido</h4>
            </div>
          </div>

          <div class="card-body" style="overflow-y: scroll; height: 300px;">

            <table class="table table-bordered table-hover" id="listPurcheses">
            <% for(item of items) { %>
              <tr>
                <td><strong>Produto</strong></td>
                <td><strong><%=item.name%></strong></td>
              </tr>
              <tr>
                <td>Código de Barras</td>
                <td><%=item.barcode%></td>
              </tr>
              <tr>
                <td>Preço Unitário</td>
                <td>R$ <%=item.price.toFixed(2).toString().replace('.', ',')%></td>
              </tr>
              <tr>
                <td>Quantidade</td>
                <td><%=item.quantity%></td>
              </tr>
              <tr>
                <td><strong>Subtotal</strong></td>
                <td>
                  <strong>
                    R$ <%=item.subTotal.toFixed(2).toString().replace('.', ',')%>
                  </strong>
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
            <% } %>

              <tr>
                <th><h3>Total R$</h3></th>
                <td>
                  <h3>
                    <strong><%=order.total.toFixed(2).toString().replace('.', ',')%></strong>
                  </h3>
                </td>
              </tr>
            </table>

            <!-- <div class="card-body">
              Lista de compras
            </div> -->

          </div>

          <div class="card-footer">
            <div class="row">
              <div class="col-sm-3 d-none d-md-block">
                <button class="form-control btn btn-info"
                onclick="Helper.printData('listPurcheses', 'Lista de Compras');">
                  Imprimir</button>
              </div>
            </div>
          </div>

        </div>

      </div> <!--End Tab-->

    </div>

  </div>
</div>
