<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Web Delivery 1.0</title>
    <meta name="description" content="Web Delivery 1.1 Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%-include('include/top-links.ejs')%>

</head>

<body>

	<%-include('include/left-panel.ejs')%>

	<!-- Left Panel -->

	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<%-include('include/header.ejs')%>
		<!-- main content -->		
		<div class="content mt-3">

			<% if(message) { %>
			<div class="alert alert-success alert-dismissible">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Enviado com sucesso!</strong> 
			</div>
			<% } %>

			<div class="container">
				<% if(Object.keys(deliveries).length == 0) { %>
				<div class="alert alert-warning text-center">
					<strong>Você não tem entregas no momento</strong>
				</div>
				<% } else if(Object.keys(deliveries).length == 1) { %>
				<div class="alert alert-warning text-center">
					<strong>Você tem uma entrega no momento</strong>
				</div
				<% } else if(Object.keys(deliveries).length > 1) { %>
				<div class="alert alert-warning text-center">
					<strong>Você não tem <%=Object.keys(deliveries).length%> entregas no momento</strong>
				</div
				<% } %>
			</div>

			<div id="variableContent">
				<%if(Object.keys(deliveries).length > 0) {%>
				<div class="container" style="overflow-y: scroll; height: 350px;">
					<ul class="list-group"></ul>
						<%for(delivery of deliveries) { %>
						<li class="list-group-item">
							<table class="table">
								<thead>
									<tr>
										<th>Cod. Pedido</th>
										<td><%=delivery.orderId%></td>
									</tr>
								</thead>
								<tbody>										
									<tr>
										<th>Cliente</th>
										<td><%=delivery.clientName%></td>
									</tr>	
									<% if(delivery.creditCard != 'undefined') { %>
									<tr>
										<th>Cartão</th>
										<td><%=delivery.creditCard%></td>
									</tr>
									<% } %>
									<% if(delivery.money != 'undefined') { %>
									<tr>
										<th>Dinheiro</th>
										<td><%=delivery.money%></td>
									</tr>
									<% } %>
									<tr>
										<th>Total</th>
										<td><%=delivery.total%></td>
									</tr>
									<% if(delivery.rest != 'undefined') { %>
									<tr>
										<th>Troco</th>
										<td><%=delivery.rest%></td>
									</tr>
									<% } %>
									<tr>
										<th>Logradouro</th>
										<td><%=delivery.publicplace%></td>
									</tr>
									<tr>
										<th>Número</th>
										<td><%=delivery._number%></td>
									</tr>
									<tr>
										<th>Bairro</th>
										<td><%=delivery.neighborHood%></td>
									</tr>
								</tbody>
							</table>
							<hr>
						</li>
						<% } %>
					</ul>					
				</div>
				<div class="container" style="padding: 30px;">
					<button class="btn btn-info"
					onclick="return window.location.href='/deliveryman'">Atualizar</button>
				</div>
				<% } %>
			</div>
			

		</div> <!-- /main content -->		

	</div><!-- /#right-panel -->

	<!-- Right Panel -->

	<%-include('include/bottom-links.ejs')%>

	<script src="admin/deliveryman.js"></script>
	
</body>

</html>
